{% extends "base.html" %}

{% block title %}Доступные столы{% endblock %}

{% block content %}
<div class="container mt-5">
    <h2 class="text-center">Доступные столы</h2>
    <table class="table table-bordered table-hover">
        <thead class="table-dark">
            <tr>
                <th>Номер</th>
                <th>Мест</th>
            </tr>
        </thead>
        <tbody>
            {% for table in tables %}
            <tr>
                <td>{{ table.number }}</td>
                <td>{{ table.seats }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
{% endblock %}
